<%- include('partials/header') %>


<div class="container about content">
    <h1>About Me</h1>

    <h4>its about page</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, cum!</p>
</div>

<%- include('partials/footer') %>