<%- include('partials/header') %>


<div class="container blogs content">
    <h2>All Blogs</h2>

    <% if (blogs.length > 0) { %>
    <% blogs.forEach(blog => { %>
    <h3 class="title"><%= blog.title %> </h3>
    <p class="snippet"><%= blog.snippet %> </p>
    <% }) %>
    <% }else{ %>
    <p>No blogs to display</p>
    <% } %>



    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum rem possimus iusto explicabo exercitationem.
        Sapiente quas fuga at iusto a numquam autem incidunt, obcaecati earum possimus voluptates repudiandae pariatur.
        Laborum iste iure dignissimos, unde quibusdam laboriosam dolore repellendus quo cupiditate asperiores. Nobis
        temporibus quam veritatis similique corporis? Excepturi, voluptatibus fugiat!</p>

</div>


<%- include('partials/footer') %>